@charset "UTF-8";
/* subPage - product */
.product_container {
    margin-bottom: 100px;
}

.container {
    width: 1092px;
    margin: auto;
    padding: 0 20px;
}

@media (max-width:1191px){
    .container {
        width: 952px;
    }
}
@media (max-width:991px){
    .container {
        width: 721px;
        padding: 0 6px;
    }
}
@media (max-width:768px){
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

.keyVisual {
    height: 170px;
    background-color: #ededed;
}
.keyVisual .title {
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
}
.keyVisual h1 {
    font-size: 48px;
    font-weight: 400;
    color: inherit;
}
.keyVisual .visual {
    display: table-cell;
    height: 170px;
    vertical-align: bottom;
}
.keyVisual .visual img {
    max-width: 100%;
}

.sub_nav {
    border-bottom: 1px solid #ccc;
}
.sub_nav table {
    margin: auto;
}
.sub_nav table td {
    padding: 0 20px;
    position: relative;
}
.sub_nav table td a {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: #808080;
}
.sub_nav table td.active a {
    color: #791e88;
    border-bottom: 1px solid #791e88;
    font-weight: 500;
    margin-bottom: -5px;
}
.sub_nav table td.active a::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 5px;
    bottom: -8px;
    left: calc(50% - 11px);
    background: url('../img/icon_snb_arr.png');
}

@media (max-width:991px){
    .sub_nav table {
        width: 100%;
    }
    .sub_nav table td {
        padding: 0 10px;
    }
}
@media (max-width:768px){
    .sub_nav {
        display: none;
    }
}

.content_wrap {}
.product_cont {
    margin-top: 40px;
}
.product_title {
    position: relative;
    margin: 70px 0 10px 0;
}
.product_title title {
    color: #414042;
    line-height: 1.5;
}
.product_title .title strong {
    display: block;
    font-size: 35px;
}
.product_title .title span {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

.product_title .sns_btn {
    position: absolute;
    right: 0;
    top: 0;
}
.product_title .sns_btn a {
    padding-left: 3px;
}
.product_title .sns_btn a::before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 13px;
    background: #ccc;
    margin-right: 3px;
}
.product_title .sns_btn a:first-child:before {
    display: none
}

@media (max-width:991px){
    .product_title .title strong {
        font-size: 24px;
    }
    .product_title .sns_btn img {
        height: 22px;
    }
    .share_print {
        display: none;
    }
}
@media (max-width:768px){
    .product_title title span {
        font-size: 14px;
    }
}


.title_images {}
.title_images img {
    max-width: 100%;
}

.find_btn_wrap {
    padding-top: 50px;
    text-align: center;
}
.btn_purple {
    background: #fff;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    border: 1px solid #791e88;
    color: #791e88;
}

/* subPage - car */
.product_tab {
    position: relative;
    margin-bottom: 15px;
}
.product_tab::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -100;
}
.product_tab ul {
    display: flex;
    justify-content: center;
}

.product_tab li {
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0 15px;
    margin: 0 7px;
    background-color: #fff;
}
.product_tab li:first-child {
    background-image: url('../img/sub/ico_all.gif');
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 1px solid #791e88;
    border-radius: 50%;
    padding: 0;
}
.product_tab a {}

.product_list {
    display: inline-block;
}
.product_item {
    width: 330px;
    height: 400px;
    float: left;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px 0;
}
.product_item:nth-child(3n+2) {
    margin: 15px 31px;
}
.product_text {
    margin: 10px 0;
}
.product_text a p {}
.product_text a img {
    width: 100%;
    padding: 20px 0;
}
.product_text ul {}
.product_text ul li {
    font-size: 12px;
    line-height: 20px;
    position: relative;
}
.product_text ul li::after {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: #791e88;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.product_img {
    height: 170px;
    overflow: hidden;
}
.product_img a {
    position: relative;
}
.product_img a img {
    width: 100%;
}
.product_img a p {
    position: absolute;
    top: -48px;
    left: 0;
    color: #fff;
    background: #791e88;
    width: 100%;
    padding: 10px 20px;
}
.product_img a p::before,
.product_img a p::after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 20px;
    background-color: #fff;
}
.product_img a p::before {
    width: 30px;
    transform: translateY(10px);
}
.product_img a p::after {
    width: 10px;
    transform: translateY(-14px) rotate(45deg);
}


@media (max-width:991px){
    .product_tab li {
        padding: 0 3px;
        margin: 0 3px;
    }
}
/* subPage - suv */
/* subPage - winter */
/* subPage - guarantee */
.guarantee_container {
    margin: 50px 0;
    display: inline-block;
}
.guarantee_content {
    width: 480px;
    float: left;
    margin-top: 30px;

}
.guarantee_content:nth-child(2n-1) {
    margin-right: 92px;
}
.guarantee_text {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.guarantee_text p {
    font-size: 23px;
}
.guarantee_text p::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #791e88;
}
.guarantee_text a {
    color: #791e88;
    line-height: 35px;
}
.guarantee_img {}
.guarantee_img img {
    width: 100%;
    margin-bottom: 20px;
}
.guarantee_img p {
    /* font-size: 13px; */
}

@media (max-width:1191px){
    .guarantee_content {
        width: 100%;
    }
    
}
